h1 {
        color: purple;
        font-size: 1.8rem;
      }
      
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }