/* Font faces */
@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
  }
  
  @font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
  }
  
  :root {
    --global-font-size: 14px;
    --global-font-color: #444;
    --mono-font-stack: "Roboto Mono", Menlo, Monaco, "Lucida Console",
      "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
      "Courier New", monospace, serif;
    --font-stack: "Roboto Mono", Menlo, Monaco, "Lucida Console", "Liberation Mono",
      "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace,
      serif;
    --global-line-height: 1.6em;
    --page-width: 100em;
    --display-h1-decoration: 1;
    --background-color: #fff;
    --font-color: #151515;
    --invert-font-color: #fff;
    --primary-color: #1a95e0;
    --secondary-color: #727578;
    --error-color: #d20962;
    --progress-bar-background: #727578;
    --progress-bar-fill: #151515;
    --code-bg-color: #e8eff2;
  }
  
  .dark {
    --background-color: #222225;
    --page-width: 100em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
  }
  
  body {
    font-family: var(--font-stack);
    font-size: var(--global-font-size);
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: var(--global-line-height);
    margin-bottom: 75px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-stack);
    clear: both;
    color: var(--font-color);
  }
  
  strong {
    font-weight: bold;
  }
  
  /* Navigation styles - Updated spacing */
  .hamburger {
    padding-right: 15px;
    cursor: pointer;
    z-index: 100;
    display: block;
  }
  
  .hamburger .line {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
    background-color: var(--font-color);
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-links {
    width: 100%;
    position: fixed;
    top: 4rem;
    left: 0;
    background-color: var(--background-color);
    display: none;
    margin: 0;
    padding: 0.2rem;
    z-index: 99;
    border-top: 1px solid var(--secondary-color);
  }
  
  .nav-links a {
    display: inline-block;
    padding: 0.15rem 0.3rem;
    margin-right: 0.2rem;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--font-color);
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: var(--secondary-color);
    color: var(--invert-font-color);
  }
  
  .expanded {
    display: block;
  }
  
  /* Terminal styles */
  .terminal-prompt::after {
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
    width: 10px;
  }
  
  .terminal-prompt::before {
    content: none;
  }
  
  .logo {
    font-weight: normal;
  }
  
  .terminal-menu {
    margin-left: 0.5rem;
  }
  
  /* Social icons */
  .social a {
    margin: 0 0 10px 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: none;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    vertical-align: bottom;
    color: var(--secondary-color);
    transition: all 0.2s ease-out;
  }
  

  
  .posts-list {
    position: relative;
    padding-left: 130px;
    top: 0;
}

.post h1,
.post h2 {
    padding-top: 0;
    margin: 0;
    margin-bottom: 5px;
}

.posts-list .date {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 130px;
    z-index: 400;
    padding-top: 0;
}

/* Grid Layout */
.grid {
  display: grid;
  width: 100%;
  max-width: 100%;
}

.grid-cols-1 {
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .grid.md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Override body constraints for grid containers */
body .container {
  max-width: 100%;
  width: 100%;
}

/* Debug styles (optional) */
.grid > div {
  position: relative;
  /*border: 3px dashed var(--secondary-color); */
  border: none;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 0px;
  /* box-shadow: 0 0 0 1px var(--secondary-color);
  opacity: 0.9; */ 
  /* backdrop-filter: blur(5px); */
}

.grid::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 1px;
  background: none;
  /*
  background: repeating-linear-gradient(
    to right,
    var(--secondary-color) 0,
    var(--secondary-color) 4px,
    transparent 4px,
    transparent 8px
  );
  */
}

  /* Media queries */
  @media screen and (min-width: 636px) {
    .nav-links {
      position: static;
      display: block;
      width: auto;
      background: none;
      border: none;
      padding: 0;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 0.15rem 0.3rem;
      margin-right: 0.2rem;
    }
  
    .hamburger {
      display: none;
    }
  }
  
  @media screen and (max-width: 635px) {
    .nav-links {
      display: none;
    }
  
    .nav-links.expanded {
      display: block;
    }
    
    body {
      padding: 0.5rem;
    }
    .posts-list {
      position: relative;
      padding-left: 0;
      top: 0;
  }

  .post h1,
  .post h2 {
      padding-top: 0;
  }

  .posts-list .date {
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 150px;
      z-index: 400;
      font-weight: bold;
      padding-top: 0;
      display: none;
  }
  }
  
  /* Animation keyframes */
  @keyframes cursor {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }