---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = " ";
---

<BaseLayout pageTitle={pageTitle}>
        <h1 > Migration, Remittance, and Welfare</h1>
        <h2> with <a href = "https://milosavljevic-f.github.io/"> Filip Milosavljević </a></h2>
        <p> Remittances account for a significant fraction of the capital flows for many developing nations.
                We develop a quantitative spatial model that jointly accounts for migration and remittances
                flows for 172 countries. Remittances are a quantitatively important force for migration decisions
                and we estimate that migrating to remit accounts for 24.3% of overall migration flows. We
                estimate that moving to a regime with costless remittance flows would increase migration by
                25.7% and the GDP of the largest beneficiaries by 16.1%. </p>
</BaseLayout>