---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = " ";
---

<BaseLayout pageTitle={pageTitle}>
        <h1> Washington University in St. Louis </h1>
        <h2>Teaching Assistant </h2>
        <ul>    
                <li> Introduction to Econometrics, Fall 2023</li>
                <li> Applied Econometrics (X2), Fall 2023, Fall 2024  </li>
                <li> ublic Economics, Spring 2023  </li>
        </ul>
                
        <h1>Universidad Adolfo Ibáñez: Before the PhD </h1>
        <h2>Instructor </h2>
        <h3> Undergraduate Courses </h3>
        <ul>
                <li> Introduction to Economics (X2), Spring 2017 </li>
                <li> Microeconomics I, Fall 2016 </li>
                <li> Macroeconomics II, Fall 2016 </li>
        </ul>
        
                
        <h2>Teaching Assistant </h2>
        <h3> Graduate Courses (2016)</h3>
        <ul> 
                <li> Advance Microeconomics, Master in Economics and Public Policy </li>
                <li> Microeconomics I, Master in Economics </li>
                <li> Global Macroeconomics Analysis, Master in International Management </li>
        </ul>
                
        <h3> Undergraduate Courses (2011 to 2015)</h3>
        <ul>
                <li> Macroeconomics I </li>
                <li> Calculus I </li>
                <li> Calculus II </li>
                <li> Macroeconomics II </li>
                <li> Industrial Organization </li>
                <li> Mathematical Economics (X3) </li>
                <li> Intermediate Macroeconomics I </li>
                <li> Intermediate Macroeconomics II </li>
                <li> Public Policy </li>
                <li> Microeconomic Theory II </li>
                <li> History of Economic Thought </li>
                <li> Econometrics I </li>
                <li> Probabilities </li>
</BaseLayout>