---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
import Hamburger from './Hamburger.astro';

const { consoleName, currentPath, displayPath } = Astro.props;
---

<header class="header">
  <div class="container">
    <ThemeIcon />
    <div class="terminal-nav">
      <header class="terminal-logo">
        <div class="logo terminal-prompt">
          <a href="/" class="no-style site-name">{consoleName}</a>:~#
          <a href={currentPath}>{displayPath}</a>/
        </div>
      </header>
      <nav class="terminal-menu">
        <Navigation />
      </nav>
    </div>
    <Hamburger />
  </div>
</header>