---
import '../styles/console.css';

---
<nav class="terminal-menu"">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/teaching">Teaching</a>
        <a href="/tags/">Tags</a>
</nav>